<% if model.errors.any? %>
     <div id="error_explanation">
       <div class="alert alert-danger">
         The form contains <%= pluralize(model.errors.count, "error") %>.
       </div>
     </div>
<% end %>
