// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
    
.container{
  max-width:700px;
}

#error_explanation {
    color: #dc3545;
    ul {
      color: #dc3545;
      margin: 0 0 30px 0;
    }
}

.field_with_errors{
  .form-control{
    @extend .is-invalid;
  }
}


