// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start-date{
  width:70%;
  float:left;
  margin-right:5px;
}
.start-time{
  max-width:200px;
}
.band-fields{
  border:1px dashed #ccc;
  margin-bottom:20px;
  padding:8px 80px 8px 80px;
}

#show-fields{
  padding:8px 80px 8px 80px;
}
.international{
  margin-bottom:0px;
}
